/* Reset */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#header {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

/* Formatação do Link/menu */

a {
    text-decoration: none;
    cursor: pointer;
}

#header a:link, #header a:visited {
    color: white;
    padding: 8px 12px;
}

#header a:hover {
    color: #f7b600;
    background: white;
}


/* Formatações Gerais */

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: white;
}

/* Posts Conteudo */

#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#posts {
    width: 660px;
    float: left;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.post h2 {
    color: #f7b600;
}

.post p {
    /* Formatação da descrição do post */
}

.post a {
    background: #f7b600;
    display: inline-block;
    margin-top: 1em;
    padding: .7em 1.5em;
    color: white;
}

.post a:hover {
    opacity: 50%;
}

.data {
    font-size: .9em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.img-post {
    width: 620px;
}

#lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.conteudo-lateral h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.conteudo-lateral a {
    color: #f7b600;
}

.conteudo-lateral a:hover {
    text-decoration: underline;
}

.post-lateral {
    font-size: 0.8;
    padding: 5px;
    border-bottom: 3px dotted #ccc;
}

.post-lateral-end {
    font-size: 0.8;
    padding: 5px;
}

.links a {
    display: block;
    padding: 3px 0;
    font-size: 1.1em;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}